@font-face {
  font-family: "sans-serif";
  src: url("../../assets/fonts/inter/static/Inter-Regular.ttf")
    format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "sans-serif";
  src: url("../../assets/fonts/inter/static/Inter-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "lora";
  src: url("../../assets/fonts/lora/static/Lora-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "lora";
  src: url("../../assets/fonts/lora/static/Lora-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "mono";
  src: url("../../assets/fonts/inconsolata/static/Inconsolata-Regular.ttf")
    format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "mono";
  src: url("../../assets/fonts/inconsolata/static/Inconsolata-Bold.ttf")
    format("truetype");
  font-weight: 700;
  font-style: normal;
}

*,
::before,
::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
  &:has(.dark-theme) .app__toggle-slider::after {
    translate: 20px;
  }
}

:root {
  --clr-primary: hsl(274, 82%, 60%);
  --clr-body-bg: #ffffff;
  --clr-toggle-bg: #757575;
  --clr-dropdown-bg: #fff;
  --clr-input-bg: #f4f4f4;
  --clr-text: #2d2d2d;
  --clr-tertiary-heading: #757575;
  --clr-example-text: #757575;
  --clr-switchers-divider: #e9e9e9;
  --clr-content-divider: #e9e9e9;
  --clr-dropdown-shadow: rgba(0, 0, 0, 0.1);
  --clr-moon-stroke: #838383;
}

.dark-theme {
  --clr-primary: hsl(274, 82%, 60%);
  --clr-body-bg: #050505;
  --clr-toggle-bg: hsl(274, 82%, 60%);
  --clr-dropdown-bg: #1f1f1f;
  --clr-input-bg: #1f1f1f;
  --clr-text: #fff;
  --clr-tertiary-heading: #757575;
  --clr-example-text: #757575;
  --clr-switchers-divider: #e9e9e9;
  --clr-content-divider: #3a3a3a;
  --clr-dropdown-shadow: #a445ed;
  --clr-moon-stroke: #a445ed;
}

body {
  background-color: var(--clr-body-bg);
  box-sizing: border-box;
  font-family: "lora";
}
