@use "base" as *;
@use "abstracts" as *;

.app {
  padding: 5.8rem 0;

  @include responsive(mobile) {
    padding: 2.4rem;
  }
  &__container {
    width: 73.7rem;
    margin: 0 auto;

    @include responsive(tablet) {
      width: 68.9rem;
    }

    @include responsive(mobile) {
      width: 32.7rem;
    }
  }

  &__header {
    margin-bottom: 2.4rem;

    @include responsive(tablet) {
      margin-bottom: 2.3rem;
    }

    @include responsive(mobile) {
      margin-bottom: 2.4rem;
    }
  }
  &__switcher-container {
    @include flex(row, space-between, center, 0);
    margin-bottom: 5.2rem;

    @include responsive(tablet) {
      margin-bottom: 5.4rem;
    }
    @include responsive(mobile) {
      margin-bottom: 2.4rem;
    }
  }
  &__logo {
    width: 3.2rem;
    height: 3.6rem;

    @include responsive(mobile) {
      width: 2.8rem;
      height: 3.2rem;
    }
  }

  &__switchers {
    @include flex(row, center, center, 6.4rem);
  }

  &__font-switcher {
    @include flex(row, center, center, 1.6rem);
    cursor: pointer;
    position: relative;
    & > ul,
    & > ul > ul {
      list-style: none;
    }
    & > ul {
      position: relative;
    }

    &::after {
      content: "";
      position: absolute;
      top: -5px;
      right: -28px;
      width: 1px;
      height: 32px;
      background-color: var(--clr-switchers-divider);
      box-shadow: 0 7.5px 7.5px rgba(0, 0, 0, 0.25);
    }
  }

  &__font-switcher:hover &__font-items-dropdown {
    opacity: 100;
    visibility: visible;
    translate: 0 7.5px;
  }

  &__font-desc,
  &__font-item {
    font-size: 1.8rem;
    font-weight: 700;
    line-height: 2.4rem;
    color: var(--clr-text);

    @include responsive(mobile) {
      font-size: 1.4rem;
    }
  }

  &__font-items-dropdown {
    opacity: 0;
    visibility: hidden;
    translate: 0 -7.5px;
    transition: all 0.3s ease-in;
    background-color: var(--clr-dropdown-bg);
    box-shadow: 0px 5px 30px var(--clr-dropdown-shadow);
    border-radius: 12.5px;
    width: 18.3rem;
    padding: 2.4rem;
    position: absolute;
    top: 36px;
    right: -36px;
  }

  &__font-item {
    cursor: pointer;
    transition: color 0.25s ease;
    &:not(:last-child) {
      margin-bottom: 1.8rem;
    }
    &:hover {
      color: var(--clr-primary);
    }
  }

  &__font-switcher-icon {
    width: 1.2rem;
    height: 0.6rem;
  }

  &__theme-switcher {
    @include flex(row, center, center, 3.6rem);
  }

  &__toggle-box {
    position: relative;
  }
  &__toggle-slider {
    cursor: pointer;
    background-color: var(--clr-toggle-bg);
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.25);
    border-radius: 50px;
    display: inline-block;

    position: absolute;
    top: -3px;
    left: -12px;
    width: 4rem;
    height: 2rem;

    transition: background 0.25s ease;

    &:hover {
      background-color: var(--clr-primary);
    }

    &::after {
      content: "";
      background-color: #fff;
      border-radius: 50%;

      position: absolute;
      top: 2.5px;
      left: 3px;

      width: 1.4rem;
      height: 1.4rem;

      transition: all 0.3s ease;
    }
  }

  &__theme-switcher-icon {
    width: 2rem;
    height: 2rem;
    stroke: var(--clr-moon-stroke);
    filter: drop-shadow(0.5px 3px 2px rgba(0, 0, 0, 0.35));
  }

  &__input {
    background-color: var(--clr-input-bg);
    background-image: url("../../assets/images/icon-search.svg");
    background-repeat: no-repeat;
    background-position: 97% 22px;

    border: 1.5px solid transparent;
    border-radius: 15px;

    color: var(--clr-text);
    caret-color: var(--clr-primary);

    cursor: pointer;

    font-size: 1.8rem;
    font-weight: 700;
    font-family: inherit;
    line-height: 2rem;

    outline: none;
    padding: 2.2rem 2.4rem 2.1rem;
    margin: 0 0 0.8rem 0;
    width: 100%;
    height: 6.4rem;

    transition: border 0.25s ease;

    &:focus {
      border: 1.5px solid var(--clr-primary);
    }

    &::placeholder {
      color: rgb(131, 131, 131);
      font-size: 2rem;
      font-weight: 700;
      line-height: 2.4rem;

      @include responsive(mobile) {
        font-size: 1.6rem;
        line-height: 1.936rem;
      }
    }

    @include responsive(tablet) {
      padding: 2rem 2.4rem 2rem;
    }
    @include responsive(mobile) {
      font-size: 1.6rem;
      line-height: 1.936rem;
      padding: 1.4rem 2.4rem 1.5rem;
    }
  }

  &__input-empty-error {
    color: #ff5252;
    line-height: 2.42rem;
    font-size: 2rem;
    font-weight: 400;
    visibility: hidden;
    transition: all 0.2s ease;
  }

  &__searched-container {
    position: relative;
    padding-bottom: 4rem;
    margin-bottom: 1.8rem;

    @include responsive(mobile) {
      padding-bottom: 3.2rem;
      margin-bottom: 2.4rem;
    }
    &::after {
      content: "";
      background-color: var(--clr-content-divider);
      width: 100%;
      height: 1px;
      position: absolute;
      bottom: 0;
      left: 0;
    }
  }
  &__searched-word-container {
    @include flex(row, space-between, center, 0);
    margin-bottom: 4.2rem;

    @include responsive(mobile) {
      margin-bottom: 3.2rem;
    }
  }
  &__input-text {
    color: var(--clr-text);
    line-height: 7.7rem;
    font-size: 6.4rem;
    font-weight: 700;
    margin-bottom: 0.6rem;

    @include responsive(mobile) {
      font-size: 3.2rem;
      line-height: 3.873rem;
    }
  }
  &__phonetic {
    font-size: 2.4rem;
    line-height: 2.905rem;
    font-weight: 400;
    color: var(--clr-primary);
    @include responsive(mobile) {
      font-size: 1.8rem;
      line-height: 2.4rem;
    }
  }

  &__audio-icon {
    fill: #a445ed;
    cursor: pointer;

    & > g,
    & > g > circle {
      transition: all 0.25s ease;
    }

    &:hover > g {
      fill: #fff;
    }
    &:hover > g > circle {
      fill: #a445ed;
      opacity: 1;
    }

    @include responsive(mobile) {
      width: 4.8rem;
      height: 4.8rem;
    }
  }

  &__noun-desc-container,
  &__verb-desc-container {
    position: relative;
  }

  &__part-of-speech {
    font-size: 2.4rem;
    font-style: italic;
    font-weight: 700;
    line-height: 2.9rem;
    color: var(--clr-text);
    margin-bottom: 4rem;

    @include responsive(mobile) {
      font-size: 1.8rem;
      line-height: 2.178rem;
      margin-bottom: 3.2rem;
    }

    &::after {
      content: "";
      position: absolute;
      top: 14px;
      right: 0;
      width: 65.6rem;
      height: 1px;
      background-color: var(--clr-content-divider);

      @include responsive(mobile) {
        width: 26.6rem;
      }
    }
  }

  &__meaning,
  &__synonyms {
    color: var(--clr-tertiary-heading);
    line-height: 2.4rem;
    font-size: 2rem;
    font-weight: 400;
    margin-bottom: 2.5rem;

    @include responsive(mobile) {
      font-size: 1.6rem;
      line-height: 1.936rem;
      margin-bottom: 1.7rem;
    }
  }

  &__word-meaning-list {
    padding-left: 3.4rem;
    margin-bottom: 4rem;

    @include responsive(mobile) {
      padding-left: 1.4rem;
      margin-bottom: 2.4rem;
    }
  }
  &__word-meaning {
    color: var(--clr-text);
    font-size: 1.8rem;
    font-weight: 400;
    line-height: 2.4rem;
    padding-left: 1.8rem;

    @include responsive(mobile) {
      font-size: 1.5rem;
      padding-left: 1rem;
    }

    &::marker {
      color: var(--clr-primary);
    }
    &:not(:last-child) {
      margin-bottom: 1.3rem;
    }
  }

  &__word-meaning-example {
    color: var(--clr-example-text);
    line-height: 2.4rem;
    font-size: 1.8rem;
    font-weight: 400;
    margin-top: 1.3rem;

    @include responsive(mobile) {
      font-size: 1.5rem;
    }
  }
  &__verb-desc-container > ul {
    margin-bottom: 0px;
  }

  &__synonyms-box {
    @include flex(row, initial, center, 2.4rem);
    margin-bottom: 4rem;
    & > h3 {
      margin-bottom: 0;
    }
  }

  &__synonyms-desc {
    &:link,
    &:visited {
      border-bottom: 1.5px solid transparent;
      color: var(--clr-primary);
      line-height: 2.42rem;
      font-size: 2rem;
      font-weight: 700;
      text-decoration: none;
      transition: all 0.25s ease;

      @include responsive(mobile) {
        font-size: 1.6rem;
        line-height: 1.936rem;
      }
    }

    &:hover {
      border-bottom: 1.5px solid var(--clr-primary);
    }
  }

  &__footer {
    // margin-top: 5rem;
    & > h4 {
      text-decoration: underline;
    }
  }
  &__footer {
    @include flex(row, initial, center, 2rem);
  }

  &__footer {
    @include responsive(mobile) {
      display: block;
    }
  }
  &__footer-heading {
    color: var(--clr-tertiary-heading);
    line-height: 1.7rem;
    font-size: 1.4rem;
    font-weight: 400;

    @include responsive(mobile) {
      line-height: 1.694rem;
      margin-bottom: 0.8rem;
    }
  }
  &__meaning-src-link {
    &:link,
    &:visited {
      line-height: 1.469rem;
      font-size: 1.4rem;
      font-weight: 400;
      color: var(--clr-text);

      @include responsive(mobile) {
        line-height: 1.694rem;
      }
    }
  }

  &__go-to-src-icon {
    width: 1.2rem;
    height: 1.2rem;
    margin: 0 0 0 0.9rem;
  }
}
