@mixin flex($direction, $justify-content, $align-items, $gap) {
  display: flex;
  flex-direction: $direction;
  justify-content: $justify-content;
  align-items: $align-items;
  gap: $gap;
}

@mixin responsive($breakpoint) {
  @if ($breakpoint == tablet) {
    @media (max-width: 48em) {
      @content;
    }
  } @else if($breakpoint == mobile) {
    @media (max-width: 23.4375em) {
      @content;
    }
  }
}
